
<p>Find me in app/views/texts/index.html.erb</p>
<h3>Choose one:</h3>
<ul>
  <% @texts.each do |text| %>
    <li>
      <a href="/texts/<%= text.id %>">
        <%= text.name %>
      </a>
    </li>
    <% end %>
</ul>
